.hero {
  padding: 52px 40px 0;
  text-align: center;
}

.tagline {
  font-size: 13px;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: var(--pink);

  margin-bottom: 14px;
}

.hero-title {
  font-size: 44px;
  font-weight: 500;
  line-height: 1.1;

  letter-spacing: -1px;

  color: #3a0e1e;

  margin-bottom: 14px;
}

.word-pink {
  color: var(--pink);
}

.word-critical {
  color: #c0112a;
}

.hero-subtitle {
  max-width: 520px;

  margin: 0 auto 28px;

  font-size: 16px;
  line-height: 1.7;

  color: #72243e;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;

  margin-bottom: 52px;
}

.primary-btn {
  border: none;

  background: var(--pink);
  color: white;

  padding: 12px 28px;

  border-radius: 8px;

  cursor: pointer;
}

.secondary-btn {
  background: transparent;

  border: 1px solid rgba(212, 83, 126, 0.4);

  color: #72243e;

  padding: 12px 28px;

  border-radius: 8px;

  cursor: pointer;
}

.hero-title {
  transition: 0.6s;
}

.pg.safe .hero-title {
  color: #3a0e1e;
}

.pg.danger .hero-title {
  color: #ff3333;
}

.pg.safe .word-pink {
  color: #d4537e;
}

.pg.danger .word-pink {
  color: #ff8888;
}

.pg.safe .word-critical {
  color: #c0112a;
}

.pg.danger .word-critical {
  color: #ff0000;
}

.hero-subtitle {
  transition: 0.6s;
}

.pg.safe .hero-subtitle {
  color: #72243e;
}

.pg.danger .hero-subtitle {
  color: #cc5555;
}
